*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.profile-manger{
	margin-top:30px;
}
.video-wrapper{
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	
}
.video-list{
	width: 320px;
    height: 240px;
	overflow: hidden;
	margin-top: 10px;
    margin-left: 20px;
}
.video-list video{
	width: 100%;
	padding-top:10px;
}